$gds-font-size-xs: 1rem;
$gds-font-size-s: 1.125rem;
$gds-font-size-m: 1.5rem;
$gds-font-size-l: 2.5rem;
$gds-font-size-xl: 4rem;
$gds-font-size-base: 1rem;
$gds-font-weight-normal: 300;
$gds-font-weight-semibold: 600;
$gds-font-weight-bold: 800;
$gds-line-height-xs: 1.5rem;
$gds-line-height-s: 1.5rem;
$gds-line-height-m: 1.875rem;
$gds-line-height-l: 2.5rem;
$gds-line-height-xl: 4rem;
$gds-line-height-base: 1.25rem;
$gds-font-family: "proxima-nova", "canada-type-gibson", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

.category-list-item {
  h3 {
    font-size: $gds-font-size-xs;
  }
}
.categories-and-latest div.column {
  font-size: inherit;
}
.topic-list .posts-map {
  font-size: inherit;
}

.user-profile-avatar {
  margin: 0;
}

.mobile-view .mobile-nav {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  background: none;
}

