@import url("https://use.typekit.net/mxq5tdh.css");
@import "gazelle-design-system/sass/tools";
@import "gazelle-design-system/components/button/button";
@import "gazelle-design-system/components/card/card";
@import "gazelle-design-system/sass/slices/feature_group";
@import "gazelle-design-system/sass/slices/hero";
@import "variables"; // Override variables
@import "mixins";

html {
  scroll-behavior: smooth;
}

body {
  background: $gds-color-gray-10;
  font-family: $gds-font-family;
  @include gds-typeset(s);
}

header {
  margin-bottom: 15px;
}

tbody {
  border-top: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $gds-font-family-bold;
  font-weight: $gds-font-weight-semibold;
}

h1 {
  @include gds-typeset(l);
}

h2 {
  font-size: 2rem;
  line-height: 1.875rem;
}

.body-page h2 {
  @include gds-typeset(m);
  @include gds-respond-to(lap-and-up) {
    font-size: 2rem;
    line-height: 1.875rem;
  }
}

h3 {
  @include gds-typeset(s);
  @include gds-respond-to(lap-and-up) {
    @include gds-typeset(m);
  }
}

.call-out {
  font-family: Wilderness;
  font-size: 7rem;
  font-weight: $gds-font-weight-normal;
  line-height: 4.5rem;
  @include gds-respond-to(lap-wide-and-up) {
    font-size: 10rem;
    line-height: 6rem;
  }
}

.contained-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 10px;
  @include gds-respond-to(lap-and-up) {
    padding: 0 20px;
  }
}

.wrapper {
  @include backgroundChange();
  margin-bottom: 20px;
  margin-top: 5px;
  min-width: 270px;
  width: 100%;
  padding: 15px;
  @include gds-respond-to(lap-wide-and-up) {
    padding: 25px 40px;
  }
}

section.container {
  p {
    padding: 5px;
  }
}

.section-header{
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
  @include gds-respond-to(lap-wide-and-up) {
    text-align: left;
  }
  .swash {
    padding-bottom: 0.6rem;
    @include gds-respond-to(lap-wide-and-up) {
      background-position-x: left;
    }
  }
}
