@import url("https://use.typekit.net/ndh0ilz.css");
@import "gazelle-design-system/sass/tools";
@import "variables"; // Override variables
@import "gazelle-design-system/sass/base";
@import "gazelle-design-system/sass/utilities";
@import "gazelle-design-system/sass/components/button";
@import "gazelle-design-system/sass/components/hero";
@import "gazelle-design-system/sass/components/feature_group";
@import "gazelle-design-system/sass/components/card";
@import "gazelle-design-system/sass/design-tokens";
@import "fonts/wilderness";
@import "mixins";

html {
  background-color: $gds-color-background-default;
  scroll-behavior: smooth;
  @include gds-typeset(xs);
}

body {
  background: $gds-color-gray-10;
  font-family: $gds-font-family;
}

tbody {
  border-top: none;
}


h1,
h2,
h4,
h5,
h6 {
  font-family: $gds-font-family-bold;
  font-weight: $gds-font-weight-semibold;
}

h1 {
  @include gds-typeset(xl);
}

h3 {
  @include gds-typeset(m, true);
}

.d-header {
  position: fixed;
}

a {
  text-decoration: none;

  &:visited {
    color: $gds-color-gray-60;
  }
}

.call-out {
  font-family: Wilderness;
  font-size: 96px;
  font-weight: 400;
}

.financial-peace {
  body {
    background: $gds-color-gray-10;
  }

  tbody {
    border-top: none;
  }

  .wrap > div:not(.container):nth-child(2),
  .wrap > section {
    @include backgroundChange();
  }
  section.container {
    h2 {
      margin-bottom: 10px;
    }
    p {
      padding: 5px;
    }
  }
}
