@import url("https://use.typekit.net/ndh0ilz.css");
@import "gazelle-design-system/sass/tools";
@import "variables"; // Override variables
@import "gazelle-design-system/sass/base";
@import "gazelle-design-system/sass/utilities";
@import "gazelle-design-system/sass/components/button";
@import "gazelle-design-system/sass/components/hero";
@import "gazelle-design-system/sass/components/feature_group";
@import "gazelle-design-system/sass/components/card";
@import "gazelle-design-system/sass/design-tokens";
@import "mixins";

html {
  background: $gds-color-gray-10;
  scroll-behavior: smooth;
  @include gds-typeset(xs);
}

body {
  background: $gds-color-gray-10;
  font-family: $gds-font-family;
}

tbody {
  border-top: none;
}

h1, h2, h4, h5, h6 {
  font-family: $gds-font-family-bold;
  font-weight: $gds-font-weight-semibold;
}

h1 {
  @include gds-typeset(l);
  @include gds-respond-to(lap-and-up) {
    @include gds-typeset(xl);
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding-bottom: 14px;
}

h3 {
  @include gds-typeset(s);
  @include gds-respond-to(lap-and-up) {
    @include gds-typeset(m, true);
  }
}

.call-out {
  font-family: Wilderness;
  font-size: 7rem;
  font-weight: $gds-font-weight-normal;
  line-height: 4.5rem;
  @include gds-respond-to(lap-wide-and-up) {
    font-size: 10rem;
    line-height: 6rem;
  }
}

.contained-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 10px;
  @include gds-respond-to(lap-and-up) {
    padding: 0 20px;
  }
}

.wrapper {
  @include backgroundChange();
  margin-bottom: 20px;
  margin-top: 5px;
  min-width: 270px;
  width: 100%;
  @include gds-respond-to(lap-wide-and-up) {
    padding: 25px 40px;
  }
}

section.container {
  h2 {
    margin-bottom: 10px;
  }
  p {
    padding: 5px;
  }
}

.section-header{
  margin-top: 15px;
  text-align: center;
  @include gds-respond-to(lap-wide-and-up) {
    text-align: left;
  }
  .swash {
    @include gds-respond-to(lap-wide-and-up) {
      background-position-x: left;
    }
  }
}

%gds-link {
  text-decoration: none;
}

.gds-Button, 
.gds-Button--alternate {
  &:visited {
    color: $gds-color-white;
  }
  &:hover {
    color: $gds-color-white;
  }
  &:active {
    color: $gds-color-white;
  }
}

.select-kit.combo-box.tag-drop .select-kit-row, 
.select-kit.combo-box.group-dropdown .select-kit-row {
  font-weight: $gds-font-weight-semibold;;
}
