@import url("https://use.typekit.net/ndh0ilz.css");
@import "gazelle-design-system/sass/tools";
@import "variables"; // Override variables
@import "gazelle-design-system/sass/base";
@import "gazelle-design-system/sass/utilities";
@import "gazelle-design-system/sass/components/button";
@import "gazelle-design-system/sass/components/hero";
@import "gazelle-design-system/sass/components/feature_group";
@import "gazelle-design-system/sass/components/card";
@import "fonts/wilderness";
@import "mixins";

html {
  background-color: $gds-color-background-default;
  scroll-behavior: smooth;
  @include gds-typeset(xs);
}

body {
  font-family: $gds-font-family;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: $gds-font-family-bold;
  font-weight: $gds-font-weight-semibold;
}

h1 {
  @include gds-typeset(xl);
}

h3 {
  @include gds-typeset(m, true);
}

.d-header {
  position: fixed;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
.call-out {
  font-family: Wilderness;
  font-size: 96px;
  font-weight: 400;
}
