@import url("https://use.typekit.net/ndh0ilz.css");
@import "gazelle-design-system/sass/tools";
@import "variables"; // Override variables
@import "gazelle-design-system/sass/base";
@import "gazelle-design-system/sass/utilities";
@import "gazelle-design-system/sass/components/button";
@import "gazelle-design-system/sass/components/hero";
@import "gazelle-design-system/sass/components/feature_group";
@import "gazelle-design-system/sass/components/card";
@import "gazelle-design-system/sass/design-tokens";
@import "mixins";

html {
  background-color: $gds-color-background-default;
  scroll-behavior: smooth;
  @include gds-typeset(xs);
}

body {
  background: $gds-color-gray-10;
  font-family: $gds-font-family;
}

tbody {
  border-top: none;
}


h1,
h2,
h4,
h5,
h6 {
  font-family: $gds-font-family-bold;
  font-weight: $gds-font-weight-semibold;
}

h1 {
  @include gds-typeset(xl);
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding-bottom: 14px;
}

h3 {
  @include gds-typeset(m, true);
}

.call-out {
  font-family: Wilderness;
  font-size: 10rem;
  font-weight: 400;
  line-height: 6rem;
}

.financial-peace {
  body {
    background: $gds-color-gray-10;
  }

  tbody {
    border-top: none;
  }

  .wrap > div:not(.container):nth-child(2),
  .wrap > section {
    @include backgroundChange();
  }
  section.container {
    h2 {
      margin-bottom: 10px;
    }
    p {
      padding: 5px;
    }
  }
}

.contained-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0;
  @include gds-respond-to(lap-and-up) {
    padding: 0 20px;
  }
}

.wrapper {
  background-color: $gds-color-white;
  border-radius: 7px;
  box-shadow: 1px 1px 11px $gds-color-gray-30;
  margin: 5px;
  min-width: 280px;
  padding: 15px;
  width: 100%;
  @include gds-respond-to(lap-and-up) {
    padding: 40px;
  }
}

.section-header{
  text-align: center;
  @include gds-respond-to(lap-wide-and-up) {
    text-align: left;
  }
}
%gds-link {
  cursor: pointer;
  text-decoration: none;
  color: $gds-color-text-link;
}


.gds-Button, 
.gds-Button--alternate {
  &:visited {
    color: $gds-color-white;
  }
  &:hover {
    color: $gds-color-white;
  }
  &:active {
    color: $gds-color-white;
  }
}
