$gds-font-size-xs: 1rem;
$gds-font-size-s: 1.125rem;
$gds-font-size-m: 1.5rem;
$gds-font-size-l: 2.5rem;
$gds-font-size-xl: 4rem;
$gds-font-size-base: 1rem;
$gds-font-weight-normal: 300;
$gds-font-weight-semibold: 600;
$gds-font-weight-bold: 800;
$gds-line-height-xs: 1.5rem;
$gds-line-height-s: 1.5rem;
$gds-line-height-m: 1.875rem;
$gds-line-height-l: 2.5rem;
$gds-line-height-xl: 4rem;
$gds-line-height-base: 1.25rem;
