# ignore cached dependency files
node_modules/

# ignore documentation source files
sassdoc/

# ignore built assets
design-tokens/dist/*
coverage/
tmp/

# ignore files
.DS_Store
.discourse-site
.vscode
*.log
*.tgz
*.tar.gz
