$gds-font-family: "proxima-nova", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$gds-font-family-bold: "canada-type-gibson", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$gds-font-size-base: 1rem;
$gds-font-size-xs: 1rem;
$gds-font-size-s: 1.125rem;
$gds-font-size-m: 1.5rem;
$gds-font-size-l: 2.25rem;
$gds-font-size-xl: 4rem;
$gds-line-height-base: 1.25rem;
$gds-line-height-xs: 1.5rem;
$gds-line-height-s: 1.5rem;
$gds-line-height-m: 1.9rem;
$gds-line-height-l: 2.25rem;
$gds-line-height-xl: 4rem;
$gds-font-weight-normal: 300;
$gds-font-weight-semibold: 600;
$gds-font-weight-bold: 800;
$gds-border-radius-s: 4px;
$gds-border-radius-m: 8px;

.category-list-item {
  h3 {
    font-size: $gds-font-size-xs;
  }
  .posts {
    padding-right: 5px;
  }
}
.categories-and-latest div.column {
  font-size: inherit;
}
.topic-list .posts-map {
  font-size: inherit;
}

.financial-peace {
  .topic-list-main-link, .topic-list .main-link {
    font-size: 18px;
  }
  .category-list {
    td {
      padding: 17px 10px;
    }
    .relative-date {
      display: none;
    }
  }
  .category-list-item {
    h3 {
      font-size: $gds-font-size-xs;
    }
  }
  .categories-and-latest div.column {
    font-size: inherit;
  }
  .topic-list .posts-map {
    font-size: inherit;
  }
}

.container,
.category-lounge {
  margin: 0 10px;
}
.financial-peace .category-list {
  margin-left: 0;
}

#main-outlet {
  padding: 10px; 
}

.topic-post {
  padding: 10px;
  &:first-of-type {
    padding: 0;
  }
}

.topic-meta-data .post-infos {
  display: none;
}

#topic-progress-wrapper {
  display: none;
}

.d-header .title {
  margin-top: 7px;
}


#topic-progress-wrapper.docked {
  right: 40px !important;
}
.boxed .contents {
  padding-right: 10px;
}

.user-profile-avatar {
  margin: 0;
}

.mobile-view .mobile-nav {
  width: 48%;
}

// This files is for any mobile.scss that requires variables stored in Discourse like image assets.

.newHere {
  background: url($new_here_background_mobile);
  background-size: cover;
}

.questions {
  background: url($questions_background_mobile);
  background-size: cover;
  border-radius: $gds-border-radius-m;
}
