@import "theme_variables";
@import url($gds);

html {
  font-family: 'canada-type-gibson', 'open sans', sans-serif !important;
}

.section-header {
  padding-bottom: 20px;
  h1 {
    margin-bottom: 20px;
  }
}

.banner-box {
  margin-bottom: 18px;
}

.banner-box::after {
  content: "";
  background-image: url($header);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $background-color;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
