@import "theme_variables";

html {
  font-family: 'canada-type-gibson', 'open sans', sans-serif !important;
}

.section-header {
  padding-bottom: 20px;
  h1 {
    margin-bottom: 20px;
  }
}

.banner-box {
  margin-bottom: 18px;
}

.banner-box::after {
  content: "";
  background-image: url($header);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


// GDS

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
a, .gds-Link {
  cursor: pointer;
  text-decoration: underline;
  color: #0073b9; }
  a:hover, .gds-Link:hover, a:focus, .gds-Link:focus {
    text-decoration: none; }

.gds-Lede > a, .gds-Link--inline, .gds-Text a {
  box-shadow: inset 0 -3px 0 #61d5ff;
  text-decoration: none;
  color: inherit; }
  .gds-Lede > a:hover, .gds-Link--inline:hover, .gds-Text a:hover, .gds-Lede > a:focus, .gds-Link--inline:focus, .gds-Text a:focus {
    box-shadow: inset 0 -3px 0 #00b2f6; }

@media only screen and (min-width: 48em) {
  .gds-Lede, .gds-Text--withLede p:first-child {
    line-height: 1.875rem;
    font-size: 1.5rem; } }

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
video {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0; }

b {
  font-weight: normal; }

label,
select,
option,
button {
  cursor: pointer; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

button,
[type="button"],
[type="submit"],
[type="reset"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0; }

@media only screen and (max-width: 47.9375em) {
  html,
  body {
    overflow-x: hidden; } }

html {
  background-color: #f5f7f8;
  color: #1f2426;
  font-family: Arial, sans-serif; }
  html.wf-canadatypegibson-n4-active {
    font-family: canada-type-gibson, Arial, sans-serif; }

body {
  line-height: 1.5rem;
  font-size: 1.125rem; }

b,
strong {
  font-weight: 600; }

.gds-Button {
  background-color: #0073b9;
  color: #fff;
  display: inline-block;
  transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1), border-color 400ms cubic-bezier(0.19, 1, 0.22, 1), color 400ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.625rem 1.375rem;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricPrecision;
  font-weight: 600;
  -webkit-font-smoothing: antialiased; }
  .gds-Button:hover, .gds-Button:focus {
    background-color: #0091d9; }
  .gds-Button[disabled], .gds-Button.is-disabled, .gds-Button[disabled]:hover, .gds-Button.is-disabled:hover, .gds-Button[disabled]:focus, .gds-Button.is-disabled:focus {
    background-color: #d5d9db;
    cursor: default;
    color: #69757a; }
  .gds-Button.is-disabled {
    pointer-events: none; }
  .gds-Button--alternate {
    background-color: #faab19;
    color: #fff; }
    .gds-Button--alternate:hover, .gds-Button--alternate:focus {
      background-color: #fdba40; }
  .gds-Button--ghost {
    border-color: currentColor;
    background-color: transparent;
    color: #0073b9; }
    .gds-Button--ghost:hover, .gds-Button--ghost:focus {
      background-color: transparent;
      color: #0091d9; }
  .gds-Button--ghostAlternate {
    border-color: currentColor;
    background-color: transparent;
    color: #fff; }
    .gds-Button--ghostAlternate:hover, .gds-Button--ghostAlternate:focus {
      background-color: transparent;
      color: #f5f7f8; }

.gds-Checkbox span.gds-Checkbox {
  display: inline-block; }
.gds-Checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 1.875rem; }
  .gds-Checkbox label::before {
    position: absolute;
    top: 0.1875rem;
    left: 0.375rem;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid #69757a;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1.5rem;
    content: ""; }
.gds-Checkbox [type="checkbox"] {
  position: absolute;
  opacity: 0; }
  .gds-Checkbox [type="checkbox"]:focus + label::before, .gds-Checkbox [type="checkbox"]:active + label::before {
    outline: 0;
    box-shadow: 0 0 1px 1px #515b5f; }
  .gds-Checkbox [type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5625rem;
    width: 0.75rem;
    height: 0.375rem;
    transform: rotate(-45deg);
    border-bottom: 3px solid #1f2426;
    border-left: 3px solid #1f2426; }
.is-invalid .gds-Checkbox [type="checkbox"] + label::before {
  border-color: #e64b40; }
.is-invalid .gds-Checkbox [type="checkbox"] + label::after {
  border-color: #e64b40; }
.is-invalid .gds-Checkbox [type="checkbox"]:focus + label::before, .is-invalid .gds-Checkbox [type="checkbox"]:active + label::before {
  box-shadow: 0 0 1px 1px #e33629; }
.gds-Checkbox [type="checkbox"]:disabled + label, .is-invalid .gds-Checkbox [type="checkbox"]:disabled + label {
  cursor: not-allowed;
  user-select: none; }
  .gds-Checkbox [type="checkbox"]:disabled + label::before, .is-invalid .gds-Checkbox [type="checkbox"]:disabled + label::before {
    background-color: #d5d9db; }
  .gds-Checkbox [type="checkbox"]:disabled + label::after, .is-invalid .gds-Checkbox [type="checkbox"]:disabled + label::after {
    border-color: #69757a; }

.gds-Heading {
  color: #1f2426;
  font-weight: 600; }
  .gds-Heading--primary {
    line-height: 2.25rem;
    font-size: 2.25rem;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 700; }
    .wf-canadatypegibson-n7-active .gds-Heading--primary {
      font-family: canada-type-gibson, "Arial Black", Arial, sans-serif; }
    @media only screen and (min-width: 48em) {
      .gds-Heading--primary {
        line-height: 3rem;
        font-size: 3rem;
        font-family: "Arial Black", Arial, sans-serif;
        font-weight: 700; }
        .wf-canadatypegibson-n7-active .gds-Heading--primary {
          font-family: canada-type-gibson, "Arial Black", Arial, sans-serif; } }
  .gds-Heading--secondary {
    line-height: 1.875rem;
    font-size: 1.5rem;
    font-weight: 600; }
    @media only screen and (min-width: 48em) {
      .gds-Heading--secondary {
        line-height: 2.25rem;
        font-size: 2.25rem;
        font-family: "Arial Black", Arial, sans-serif;
        font-weight: 700; }
        .wf-canadatypegibson-n7-active .gds-Heading--secondary {
          font-family: canada-type-gibson, "Arial Black", Arial, sans-serif; } }
  .gds-Heading--tertiary {
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 600; }
    @media only screen and (min-width: 48em) {
      .gds-Heading--tertiary {
        line-height: 1.875rem;
        font-size: 1.5rem;
        font-weight: 600; } }
  .gds-Heading--rant {
    text-transform: uppercase; }
  .gds-Heading > b {
    font-weight: 400;
    font-family: Arial, sans-serif; }
    .wf-canadatypegibson-n4-active .gds-Heading > b {
      font-family: canada-type-gibson, Arial, sans-serif; }
  .gds-darkMode .gds-Heading, .gds-Heading.gds-darkMode {
    color: #fff; }

.gds-Icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: currentColor; }
  .gds-Icon--small {
    width: 0.75rem;
    height: 0.75rem; }

.gds-Input {
  line-height: 1.5rem;
  border: 2px solid #69757a;
  border-radius: 3px;
  background-color: #fff;
  padding: 0.625rem;
  color: #1f2426;
  transition: border 400ms linear, background-color 400ms linear;
  display: inline-block;
  width: 100%;
  resize: vertical; }
  .gds-Input:focus, .gds-Input:active {
    outline: 0;
    box-shadow: 0 0 1px 1px #515b5f; }
  .is-invalid .gds-Input {
    color: #e64b40;
    border-color: #e64b40; }
    .is-invalid .gds-Input:focus, .is-invalid .gds-Input:active {
      box-shadow: 0 0 1px 1px #e33629; }
  .is-valid .gds-Input {
    border-color: #8ec738; }
    .is-valid .gds-Input:focus, .is-valid .gds-Input:active {
      box-shadow: 0 0 1px 1px #80b332; }
  .gds-Input:disabled, .gds-Input[readonly], .is-invalid .gds-Input:disabled, .is-invalid .gds-Input[readonly], .is-valid .gds-Input:disabled, .is-valid .gds-Input[readonly] {
    border-color: #69757a;
    background-color: #d5d9db;
    cursor: not-allowed;
    user-select: none;
    color: #69757a; }

.gds-Lede {
  margin-top: 0;
  margin-bottom: 0; }
  .gds-darkMode .gds-Lede, .gds-Lede.gds-darkMode {
    color: #fff; }

.gds-Link--standalone {
  display: inline-block;
  padding-right: 0.375rem;
  text-decoration: none; }
  .gds-Link--standalone::after {
    width: 0.35em;
    height: 0.35em;
    display: inline-block;
    transform: translate(-0.1em, -0.075em) rotateZ(-45deg);
    margin-left: 0.375rem;
    border: 2px solid currentColor;
    border-top: 0;
    border-left: 0;
    content: ""; }
  .gds-Link--standalone:hover, .gds-Link--standalone:focus {
    text-decoration: underline; }

.gds-Radio span.gds-Radio {
  display: inline-block; }
.gds-Radio label {
  display: inline-block;
  position: relative;
  padding-left: 1.875rem; }
  .gds-Radio label::before {
    position: absolute;
    top: 0.1875rem;
    left: 0.375rem;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid #69757a;
    border-radius: 50%;
    background-color: #fff;
    line-height: 1.5rem;
    content: ""; }
.gds-Radio [type="radio"] {
  position: absolute;
  opacity: 0; }
  .gds-Radio [type="radio"]:focus + label::before, .gds-Radio [type="radio"]:active + label::before {
    outline: 0;
    box-shadow: 0 0 1px 1px #515b5f; }
  .gds-Radio [type="radio"]:checked + label::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
    background-color: #1f2426;
    height: 0.625rem;
    width: 0.625rem;
    position: absolute;
    top: 0.4375rem;
    left: 0.625rem; }
.is-invalid .gds-Radio [type="radio"] + label::before {
  border-color: #e64b40; }
.is-invalid .gds-Radio [type="radio"] + label::after {
  background-color: #e64b40; }
.is-invalid .gds-Radio [type="radio"]:focus + label::before, .is-invalid .gds-Radio [type="radio"]:active + label::before {
  box-shadow: 0 0 1px 1px #e33629; }
.gds-Radio [type="radio"]:disabled + label, .is-invalid .gds-Radio [type="radio"]:disabled + label {
  cursor: not-allowed;
  user-select: none; }
  .gds-Radio [type="radio"]:disabled + label::before, .is-invalid .gds-Radio [type="radio"]:disabled + label::before {
    background-color: #d5d9db; }
  .gds-Radio [type="radio"]:disabled + label::after, .is-invalid .gds-Radio [type="radio"]:disabled + label::after {
    background-color: #69757a; }

.gds-Select {
  display: inline-block;
  position: relative;
  color: #69757a; }
  .gds-Select::before, .gds-Select::after {
    position: absolute;
    right: 0.625rem;
    pointer-events: none;
    content: ""; }
  .gds-Select::before {
    display: inline-block;
    height: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
    border-width: 0.375rem 0.1875rem;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: inherit;
    border-top-width: 0;
    top: 0.9375rem; }
  .gds-Select::after {
    display: inline-block;
    height: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
    border-width: 0.375rem 0.1875rem;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
    border-bottom-width: 0;
    bottom: 0.9375rem; }
  .gds-Select select {
    line-height: 1.5rem;
    border: 2px solid #69757a;
    border-radius: 3px;
    background-color: #fff;
    padding: 0.625rem;
    color: #1f2426;
    transition: border 400ms linear, background-color 400ms linear;
    padding-right: 1.375rem;
    min-width: 12rem;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .gds-Select select:focus, .gds-Select select:active {
      outline: 0;
      box-shadow: 0 0 1px 1px #515b5f; }
    .gds-Select select::-ms-expand {
      display: none; }
    .gds-Select select:focus::-ms-value {
      background: transparent;
      color: #1f2426; }
    .gds-Select select:-moz-focusring {
      text-shadow: 0 0 0 #1f2426;
      color: transparent; }
  .is-invalid .gds-Select {
    color: #e64b40; }
    .is-invalid .gds-Select select {
      color: #e64b40;
      border-color: #e64b40; }
      .is-invalid .gds-Select select:focus, .is-invalid .gds-Select select:active {
        box-shadow: 0 0 1px 1px #e33629; }
      .is-invalid .gds-Select select:-moz-focusring {
        text-shadow: 0 0 0 #e64b40;
        color: transparent; }
      .is-invalid .gds-Select select:focus::-ms-value {
        color: #e64b40; }
  .is-valid .gds-Select {
    color: #8ec738; }
    .is-valid .gds-Select select {
      border-color: #8ec738; }
      .is-valid .gds-Select select:focus, .is-valid .gds-Select select:active {
        box-shadow: 0 0 1px 1px #80b332; }
  .gds-Select select:disabled, .is-invalid .gds-Select select:disabled, .is-valid .gds-Select select:disabled {
    border-color: #69757a;
    background-color: #d5d9db;
    cursor: not-allowed;
    user-select: none;
    color: #69757a; }

.gds-Text {
  margin: 0; }
  .gds-Text p:first-of-type {
    margin-top: 0; }
  .gds-Text p:last-of-type {
    margin-bottom: 0; }
  .gds-Text p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; }
  .gds-Text h1,
  .gds-Text h2,
  .gds-Text h3,
  .gds-Text h4,
  .gds-Text h5,
  .gds-Text h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 600; }
    .gds-Text h1:first-child,
    .gds-Text h2:first-child,
    .gds-Text h3:first-child,
    .gds-Text h4:first-child,
    .gds-Text h5:first-child,
    .gds-Text h6:first-child {
      margin-top: 0; }
    .gds-Text h1 + p,
    .gds-Text h2 + p,
    .gds-Text h3 + p,
    .gds-Text h4 + p,
    .gds-Text h5 + p,
    .gds-Text h6 + p {
      margin-top: 0; }

.gds-Card {
  background-color: #fff; }
  @media only screen and (min-width: 37.5em) {
    .gds-Card {
      display: flex;
      flex-direction: column; } }
  .gds-Card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    max-width: 40em; }
  .gds-Card-imageLink {
    display: block;
    flex-shrink: 0; }
  .gds-Card-image {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .gds-Card-title {
    margin-bottom: 0.75rem; }
  .gds-Card-text {
    max-width: 40em; }
  .gds-Card-footer {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: auto;
    border-top: 1px solid #d5d9db;
    text-align: center; }
  .gds-Card-transitionalCta {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: block; }

.gds-FormField {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; }
  .gds-FormField-label {
    display: inline-block; }
  .gds-FormField-note {
    line-height: 1.5rem;
    color: #69757a;
    font-size: 1rem; }
  .gds-FormField-control--xs {
    max-width: 6rem; }
  .gds-FormField-control--s {
    max-width: 12rem; }
  .gds-FormField-control--m {
    max-width: 19.5rem; }
  .gds-FormField-control--l {
    max-width: 27rem; }
  .gds-FormField-control--xl {
    max-width: 34.5rem; }
  .gds-FormField-help, .gds-FormField-error, .gds-FormField-success {
    margin: 0; }
  .gds-FormField-help {
    color: #69757a;
    font-style: italic; }
  .gds-FormField-error, .gds-FormField-success {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 2.25rem;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    color: #fff; }
    .gds-FormField-error::after, .gds-FormField-success::after {
      position: absolute;
      bottom: 100%;
      left: 0.375rem;
      display: inline-block;
      height: 0;
      width: 0;
      -webkit-transform: rotate(360deg);
      border-width: 0.375em 0.375em;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: inherit;
      border-top-width: 0;
      content: ""; }
  .gds-FormField-error {
    border-color: #e64b40;
    background-color: #e64b40;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.216%2013.53L8.882%201.653a1%201%200%200%200-1.765%200L.784%2013.53A1%201%200%200%200%201.667%2015h12.667a1%201%200%200%200%20.882-1.47zM8%2013a1%201%200%201%201%200-2%201%201%200%200%201%200%202zm1-3H7V6h2v4z%22%2F%3E%3C%2Fsvg%3E"); }
  .gds-FormField-success {
    border-color: #8ec738;
    background-color: #8ec738;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M5.6%209.6L2.4%206.4%200%208.8l5.6%205.6L16%204l-2.4-2.4z%22%2F%3E%3C%2Fsvg%3E"); }
  .gds-FormField.is-invalid .gds-FormField-label {
    color: #e64b40; }

/*# sourceMappingURL=main.css.map */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
.gds-Callout {
  width: 100%; }
  .gds-Callout--alternate {
    color: #fff; }
  .gds-Callout-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .gds-Callout-container {
        padding-left: 3rem;
        padding-right: 3rem; } }
    .gds-Callout-container--left {
      text-align: left; }
    .gds-Callout-container--right {
      text-align: right; }
  .gds-Callout-logo {
    display: inline-block;
    margin-bottom: 0.75rem; }
    .gds-Callout-logo > img {
      display: block; }
  .gds-Callout-lede {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em; }
  .gds-Callout-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    margin-top: 0.75rem; }
  .gds-Callout-directCta {
    margin-top: 2.25rem; }
  .gds-Callout-transitionalCta {
    margin-top: 0.75rem; }
  .gds-Callout--alternate .gds-Callout-title, .gds-Callout--alternate .gds-Callout-transitionalCta {
    color: inherit; }
  .gds-Callout-container--left .gds-Callout-lede, .gds-Callout-container--left .gds-Callout-body {
    margin-left: 0; }
  .gds-Callout-container--right .gds-Callout-lede, .gds-Callout-container--right .gds-Callout-body {
    margin-right: 0; }

.gds-CardGroup {
  background-color: #f5f7f8;
  padding: 1.5rem; }
  .gds-CardGroup-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 0.75rem; }
  .gds-CardGroup-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.4375em) {
      .gds-CardGroup-list {
        max-width: 25em; } }
    @media only screen and (min-width: 37.5em) {
      .gds-CardGroup-list:after {
        content: "";
        display: table;
        clear: both; } }
  .gds-CardGroup-item {
    margin-top: 1.5rem; }
    @media only screen and (min-width: 37.5em) {
      .gds-CardGroup-item {
        float: left;
        margin-left: 4%;
        width: 48%; }
        .gds-CardGroup-item:nth-child(2) {
          margin-top: 0; }
        .gds-CardGroup-item:nth-child(odd) {
          margin-left: 0; } }
    @media only screen and (min-width: 55em) {
      .gds-CardGroup-item {
        margin-left: 2%;
        width: 32%; }
        .gds-CardGroup-item:nth-child(3) {
          margin-top: 0; }
        .gds-CardGroup-item:nth-child(odd) {
          margin-left: 2%; }
        .gds-CardGroup-item:nth-child(3n+1) {
          margin-left: 0; } }
    @media only screen and (min-width: 62.5em) {
      .gds-CardGroup-item {
        margin-left: 1.33333%;
        width: 24%; }
        .gds-CardGroup-item:nth-child(4) {
          margin-top: 0; }
        .gds-CardGroup-item:nth-child(odd) {
          margin-left: 1.33333%; }
        .gds-CardGroup-item:nth-child(3n+1) {
          margin-left: 1.33333%; }
        .gds-CardGroup-item:nth-child(4n+1) {
          margin-left: 0; } }
    .gds-CardGroup-item:first-child {
      margin-top: 0; }

.gds-FeatureGroup {
  padding: 1.5rem; }
  @media only screen and (min-width: 48em) {
    .gds-FeatureGroup {
      padding: 3rem; } }
  .gds-FeatureGroup-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 1.5rem;
    text-align: center; }
    .gds-FeatureGroup-title--item {
      margin-top: 0.75rem;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      max-width: 100%; }
  .gds-FeatureGroup-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
    .gds-FeatureGroup-list:after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (min-width: 54.75em) {
      .gds-FeatureGroup-list {
        display: flex;
        justify-content: center; } }
  .gds-FeatureGroup-feature {
    position: relative;
    margin-top: 4.5rem;
    text-align: center; }
    @media only screen and (min-width: 54.75em) {
      .gds-FeatureGroup-feature {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        float: left;
        margin-top: 0; }
        .gds-FeatureGroup-feature:first-child:nth-last-child(2), .gds-FeatureGroup-feature:first-child:nth-last-child(2) ~ .gds-FeatureGroup-feature {
          width: 47.5%; }
          .gds-FeatureGroup-feature:first-child:nth-last-child(2)::before, .gds-FeatureGroup-feature:first-child:nth-last-child(2) ~ .gds-FeatureGroup-feature::before {
            left: -5.5%; }
        .gds-FeatureGroup-feature:first-child:nth-last-child(3), .gds-FeatureGroup-feature:first-child:nth-last-child(3) ~ .gds-FeatureGroup-feature {
          width: 30%; }
          .gds-FeatureGroup-feature:first-child:nth-last-child(3)::before, .gds-FeatureGroup-feature:first-child:nth-last-child(3) ~ .gds-FeatureGroup-feature::before {
            left: -8.5%; }
        .gds-FeatureGroup-feature:first-child:nth-last-child(2) ~ .gds-FeatureGroup-feature, .gds-FeatureGroup-feature:first-child:nth-last-child(3) ~ .gds-FeatureGroup-feature {
          margin-left: 5%; }
        .gds-FeatureGroup-feature:first-child:nth-last-child(4), .gds-FeatureGroup-feature:first-child:nth-last-child(4) ~ .gds-FeatureGroup-feature {
          width: 22%; }
          .gds-FeatureGroup-feature:first-child:nth-last-child(4)::before, .gds-FeatureGroup-feature:first-child:nth-last-child(4) ~ .gds-FeatureGroup-feature::before {
            left: -10%; }
        .gds-FeatureGroup-feature:first-child:nth-last-child(4) ~ .gds-FeatureGroup-feature {
          margin-left: 4%; } }
    .gds-FeatureGroup-feature:first-child {
      margin-top: 0;
      padding-left: 0; }
      .gds-FeatureGroup-feature:first-child::before {
        display: none; }
    .gds-FeatureGroup-feature::before {
      width: 80%;
      height: 2px;
      position: absolute;
      top: -2.25rem;
      right: 10%;
      background: linear-gradient(to right, rgba(105, 117, 122, 0) 0%, rgba(105, 117, 122, 0.5) 50%, rgba(105, 117, 122, 0) 100%);
      content: ""; }
      @media only screen and (min-width: 54.75em) {
        .gds-FeatureGroup-feature::before {
          width: 2px;
          height: 80%;
          position: absolute;
          top: 10%;
          right: auto;
          background: linear-gradient(to bottom, rgba(105, 117, 122, 0) 0%, rgba(105, 117, 122, 0.5) 50%, rgba(105, 117, 122, 0) 100%); } }
  .gds-FeatureGroup--withoutDividers .gds-FeatureGroup-feature::before {
    background: none; }
  .gds-FeatureGroup-body {
    margin-top: 0.75rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }
  .gds-FeatureGroup-directCta {
    margin-top: auto; }
    @media only screen and (max-width: 47.9375em) {
      .gds-FeatureGroup-directCta {
        margin-left: auto;
        margin-right: auto;
        max-width: 40em;
        display: block; } }
  .gds-FeatureGroup-transitionalCta {
    margin-top: 0.75rem; }

.gds-Hero {
  position: relative; }
  .gds-Hero--alternate {
    color: #fff; }
  .gds-Hero-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .gds-Hero-container {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 3rem;
        padding-right: 3rem; } }
    .gds-Hero-container--left {
      text-align: left; }
    .gds-Hero-container--right {
      text-align: right; }
  .gds-Hero-logo {
    display: inline-block;
    margin-bottom: 0.75rem; }
    .gds-Hero-logo > img {
      display: block; }
  .gds-Hero-subtitle {
    display: block;
    margin-top: 0.75rem;
    color: inherit; }
  .gds-Hero-lede {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    margin-top: 0.75rem; }
  .gds-Hero-directCta {
    margin-top: 2.25rem; }
  .gds-Hero-transitionalCta {
    margin-top: 0.75rem; }
  .gds-Hero--alternate .gds-Hero-title, .gds-Hero--alternate .gds-Hero-transitionalCta {
    color: inherit; }
  .gds-Hero-container--left .gds-Hero-lede {
    margin-left: 0; }
  .gds-Hero-container--left .gds-Hero-title, .gds-Hero-container--left .gds-Hero-subtitle, .gds-Hero-container--left .gds-Hero-lede {
    max-width: 75%; }
    @media only screen and (min-width: 48em) {
      .gds-Hero-container--left .gds-Hero-title, .gds-Hero-container--left .gds-Hero-subtitle, .gds-Hero-container--left .gds-Hero-lede {
        max-width: 55%; } }
  .gds-Hero-container--right .gds-Hero-lede {
    margin-right: 0; }

.gds-Intro-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .gds-Intro-container {
      padding-left: 3rem;
      padding-right: 3rem; } }
  .gds-Intro-container--left {
    text-align: left; }
  .gds-Intro-container--right {
    text-align: right; }
.gds-Intro-logo {
  display: inline-block;
  margin-bottom: 0.75rem; }
  .gds-Intro-logo > img {
    display: block; }
.gds-Intro-subtitle {
  display: block;
  margin-top: 0.75rem;
  color: inherit; }
.gds-Intro-lede, .gds-Intro-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  margin-top: 0.75rem;
  margin-bottom: 0; }
.gds-Intro-container--left .gds-Intro-lede, .gds-Intro-container--left .gds-Intro-body {
  margin-left: 0; }
.gds-Intro-container--right .gds-Intro-lede, .gds-Intro-container--right .gds-Intro-body {
  margin-right: 0; }

.gds-MediaObject-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 1.5rem 1.125rem; }
  .gds-MediaObject-container:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 48em) {
    .gds-MediaObject-container {
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      align-items: center; } }
@media only screen and (min-width: 48em) {
  .gds-MediaObject--fullBleed .gds-MediaObject-container {
    padding: 0; } }
.gds-MediaObject-title {
  margin-bottom: 0.75rem; }
.gds-MediaObject-body {
  text-align: left; }
  @media only screen and (max-width: 47.9375em) {
    .gds-MediaObject-body {
      margin-top: 1.5rem; } }
  @media only screen and (min-width: 48em) {
    .gds-MediaObject-body {
      flex: 1;
      padding-left: 3rem; } }
  .gds-MediaObject-body > p {
    margin: 0;
    max-width: 40em; }
    .gds-MediaObject-body > p + p {
      margin-top: 0.75rem; }
  .gds-MediaObject-body--center {
    text-align: center; }
    .gds-MediaObject-body--center > p {
      margin-left: auto;
      margin-right: auto; }
  .gds-MediaObject-body--right {
    text-align: right; }
    .gds-MediaObject-body--right > p {
      margin-left: auto; }
@media only screen and (min-width: 48em) {
  .gds-MediaObject--fullBleed .gds-MediaObject-body {
    padding-top: 1.5rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem; } }
@media only screen and (min-width: 48em) {
  .gds-MediaObject--reversed .gds-MediaObject-body {
    padding-right: 3rem;
    padding-left: 0;
    text-align: right; } }
.gds-MediaObject--reversed .gds-MediaObject-body > p {
  margin-left: auto; }
.gds-MediaObject--reversed .gds-MediaObject-body--left {
  text-align: left; }
  .gds-MediaObject--reversed .gds-MediaObject-body--left > p {
    margin-right: auto;
    margin-left: 0; }
.gds-MediaObject--reversed .gds-MediaObject-body--center {
  text-align: center; }
@media only screen and (min-width: 48em) {
  .gds-MediaObject--reversed.gds-MediaObject--fullBleed .gds-MediaObject-body {
    padding-left: 3rem; } }
.gds-MediaObject-image {
  margin-left: auto;
  margin-right: auto;
  display: block; }
  @media only screen and (min-width: 48em) {
    .gds-MediaObject-image {
      float: left; } }
@media only screen and (min-width: 48em) {
  .gds-MediaObject--reversed .gds-MediaObject-image {
    order: 1;
    float: right; } }

.gds-Spread {
  display: block;
  position: relative;
  text-align: left; }
  .gds-Spread-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; }
    @media only screen and (min-width: 56.25em) {
      .gds-Spread-container {
        display: flex; } }
  .gds-Spread-imageWrapper {
    display: block;
    align-self: center;
    background-position: center;
    background-size: cover; }
    @media only screen and (min-width: 56.25em) {
      .gds-Spread-imageWrapper {
        flex: 1;
        margin-bottom: 0;
        padding-right: 2.25rem;
        padding-left: 2.25rem; } }
    .gds-Spread:not(.gds-Spread--fullBleed) .gds-Spread-imageWrapper {
      background: none !important; }
  .gds-Spread-image {
    min-width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .gds-Spread-image {
        flex: 1;
        min-width: 0; } }
  .gds-Spread-body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem; }
    @media only screen and (min-width: 56.25em) {
      .gds-Spread-body {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        flex: 1; } }
  .gds-Spread-label {
    display: inline-block;
    margin-bottom: 2.25rem;
    text-transform: uppercase; }
  .gds-Spread a.gds-Spread-label {
    text-decoration: none; }
    .gds-Spread a.gds-Spread-label:hover {
      text-decoration: underline; }
  .gds-Spread-title > a {
    text-decoration: none;
    color: inherit; }
    .gds-Spread-title > a:hover {
      text-decoration: underline; }
  .gds-Spread-lede {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    margin-top: 0.75rem; }
  .gds-Spread-directCta {
    margin-top: 1.5rem; }
  .gds-Spread-footer {
    margin-top: 1.5rem;
    font-style: italic; }
    .gds-Spread-footer > a {
      text-decoration: none;
      color: inherit; }
      .gds-Spread-footer > a:hover {
        text-decoration: underline; }
    .gds-Spread-footer::before {
      display: block;
      margin-top: 2.25rem;
      margin-bottom: 1.5rem;
      background: #333a3d;
      width: 6rem;
      height: 3px;
      content: ""; }
  .gds-Spread--alternate {
    color: #fff; }
  .gds-Spread--alternate .gds-Spread-title, .gds-Spread--alternate .gds-Spread-lede, .gds-Spread--alternate .gds-Spread-label, .gds-Spread--alternate .gds-Spread-footer {
    color: inherit; }
  .gds-Spread--alternate .gds-Spread-footer::before {
    background: #fff; }
  @media only screen and (max-width: 37.4375em) {
    .gds-Spread--fullBleed .gds-Spread-imageWrapper {
      background: none !important; } }
  @media only screen and (min-width: 37.5em) and (max-width: 56.1875em) {
    .gds-Spread--fullBleed .gds-Spread-imageWrapper {
      background: none !important; } }
  @media only screen and (min-width: 56.25em) {
    .gds-Spread--fullBleed .gds-Spread-imageWrapper {
      display: flex;
      align-self: auto;
      padding-right: 0;
      padding-left: 0; } }
  @media only screen and (min-width: 56.25em) {
    .gds-Spread--fullBleed .gds-Spread-image {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; } }
  @media only screen and (min-width: 56.25em) {
    .gds-Spread--reversed .gds-Spread-imageWrapper, .gds-Spread--reversed .gds-Spread-image {
      order: 2; } }
  .gds-Spread--reversed .gds-Spread-body {
    padding-right: 2.25rem;
    padding-left: 2.25rem; }

/*# sourceMappingURL=slices.css.map */
