.container,
.category-lounge {
  margin: 0 10px;
}
.financial-peace .category-list {
  margin-left: 0;
}

#main-outlet {
  padding: 10px; 
}

.topic-post {
  padding: 10px;
  &:first-of-type {
    padding: 0;
  }
}

.topic-meta-data .post-infos {
  display: none;
}

#topic-progress-wrapper {
  display: none;
}

.d-header .title {
  margin-top: 7px;
}
