.navigation-categories {
  .nav.nav-pills {
    display: none;
  }

  .column {
    display: none;
  }

  .categories-and-latest div.column:last-child {
    display: none;
  }

  .column.categories {
    display: inline-block;
  }

  .topic-category {
    .discourse-tags {
      display: none;
      @include gds-respond-to(lap-wide-and-up) {
        display: block;
      }
    }
    .discourse-tag {
      padding: 8px 10px;
      font-size: 18px;
      background: $gds-color-gray-20;
    }
  }

  .topic-category a {
    margin: 2px;
  }

  .column.categories {
    .category {
      padding: 2rem 0 2rem 1rem;
    }
  }

  table {
    font-size: 18px;
  }

  .category-list {
    max-width: 100%;
    thead {
      display: none;
    }
    tr {
      border-bottom: 1px solid $gds-color-gray-20;
      border-top: 1px solid $gds-color-gray-20;
    }
    td {
      padding: 2rem 0 2rem 1rem;
    }
    td:first-of-type {
      padding-left: 1rem;
      padding-right: 0;
    }
    td.topics {
      @include gds-respond-to(palm-only) {
        display: none;
      }
      vertical-align: middle;
    }
    td.latest {
      display: none;
    }
    .topics .value {
      color: $gds-color-black;
      font-size: 18px;
      &:after {
        content: 'Topics';
        padding-left: 10px;
      }
    }
  }

  .wrap > .category-get-started {
    @include backgroundChange();
  }

}

.category-name{
  font-weight: $gds-font-weight-semibold;
}

.list-container {
  .badge-wrapper {
    border: 1px solid $gds-color-gray-50;
    border-radius: $gds-border-radius-s;
    padding: 5px;
    .category-name{
      color: $gds-color-gray-60;
    }
  }
  .subcategories {
    .badge-wrapper {
      border: none;
      border-radius: unset;
    }
  }
}

.combo-box{
  .badge-wrapper {
    border: none;
    border-radius: unset;
    padding: 0;
  } 
}
.category-text-title .category-name {
  font-size: 24px;
  font-weight: $gds-font-weight-semibold;
}

