/* Josh Young */
/* TODO:
  - add gazelle styles.
  - insure that the elements that are being hidden cannot be removed from the admin.
*/

.financial-peace .topic-category .badge-wrapper {
  border: none;
}

.financial-peace {
  &.navigation-categories {
    .nav.nav-pills {
      display: none;
    }
    button {
      border-radius: 4px;
      padding: 10px;
    }
  }

  .category-list {
    th.category, th.topics {
      display: none;
    }
  }

  .column {
    display: none;
  }

  .categories-and-latest div.column:last-child {
    display: none;
  }

  .column.categories {
    display: inline-block;
  }

  .topic-category {
    .discourse-tags {
      display: none;
      @include gds-respond-to(lap-wide-and-up) {
        display: block;
      }
    }
    .discourse-tag {
      padding: 8px 10px;
      font-size: 18px;
      background: $gds-color-gray-20;
    }
  }

  .topic-category .badge-wrapper {
    padding: 0;
    &.bullet {
      font-size: 18px;
      background: $gds-color-gray-30;
      &:after {
        content: '';
        display: block;
        position: relative;
        right: 6px;
        top: 2px;
        height: 0; 
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 9px solid $gds-color-gray-80;
        width: 0; 
      }
      .category-name {
        padding: 8px 12px;
      }
    }
  }

  .topic-category a {
    margin: 2px;
  }

  .category {
    padding: 1rem 0 1rem 0.5rem;
  }

  .category-list {
    td {
      padding: 2rem 0 2rem 1rem;
      vertical-align: middle;
    }
    max-width: 230px;
    @media(min-width: 350px) {
      max-width: 100%;
    }
    th.category, th.topics {
      display: none;
    }
    td:first-of-type {
      padding-left: 1rem;
      padding-right: 0;
    }
    td.topics {
      @include gds-respond-to(palm-only) {
        display: none;
      }
    }
  }

  .category-list {
    .category-name {
      color: $gds-color-gray-60;
      font-weight: semibold;
      font-size: 24px;
      border: none;
    }
  }

  .category-list .topics .value {
    color: $gds-color-black;
    &:after {
      content: 'Topics';
      padding-left: 10px;
    }

    .wrap > .category-get-started {
      background:  $gds-color-white;
      border-radius: 6px;
      box-shadow: 1px 1px 15px #ccc;
    }

    /* TODO: There may be a way to do this in the admin console: */

    .badge-wrapper {
      border: 1px solid $gds-color-gray-50;
      border-radius: 2px;
      padding: 5px;
    }
  }
  .badge-wrapper.bullet span.badge-category {
    padding-left: 10px;
  }
}
