
.navigation-categories {
  .nav.nav-pills {
    display: none;
  }

  button {
    border-radius: 3px;
    padding: 10px;
  }

  .list-controls {
    padding: 2rem 1rem 0;
  }

  .column {
    display: none;
  }

  .categories-and-latest div.column:last-child {
    display: none;
  }

  .column.categories {
    display: inline-block;
  }

  .topic-category {
    .discourse-tags {
      display: none;
      @include gds-respond-to(lap-wide-and-up) {
        display: block;
      }
    }
    .discourse-tag {
      padding: 8px 10px;
      font-size: 18px;
      background: $gds-color-gray-20;
    }
  }

  .topic-category a {
    margin: 2px;
  }

  .column.categories {
    .category {
      padding: 2rem 0 2rem 1rem;
    }
  }

  .category-list {
    width: 100%;

    .featured-topic {
      font-size: 18px;
    } 
    th.category, th.topics {
      display: none;
    }
    tbody tr {
      border-bottom: 1px solid #e9eced;
      border-top: 1px solid #e9eced;
    }
    td {
      padding: 2rem 0 2rem 1rem;
    }
    td:first-of-type {
      padding-left: 1rem;
      padding-right: 0;
    }
    td.topics {
      display: none;
      @include gds-respond-to(lap-and-up) {
        display: table-cell;
        vertical-align: middle;
      }
      .value {
        color: $gds-color-black;
        font-size: 18px;
        &:after {
          content: 'Topics';
          padding-left: 10px;
        }
      }
    }
    td.latest {
      display: none;
    }
  }

  .wrap > .category-get-started {
    @include backgroundChange();
  }
}

.category-name{
  font-weight: $gds-font-weight-semibold;
}

.list-container {
  .badge-wrapper {
    padding: 5px;
    .category-name{
      color: $gds-color-gray-60;
    }
  }
}

.category-text-title .category-name {
  font-size: 24px;
  font-weight: $gds-font-weight-semibold;
}
