.container {
  &.list-container {
    background: $gds-color-white;
    padding: 3rem;
  }
}

.create-topics-notice {
  display: none;
}

.list-controls {
  background: $gds-color-white;
  padding: 3rem 3rem 0;
  .btn {
    background: $gds-color-blue-40;
    color: $gds-color-white;
  }
}

.category-name {
  border: 1px solid $gds-color-gray-50;
  border-radius: 2px;
  color: $gds-color-gray-60;
  padding: 0.5rem;
  text-decoration: none;
}
