.container {
  &.list-container {
    background: $gds-color-white;
    padding: none;
    @include gds-respond-to(lap-and-up) {
      padding: 3rem;
    }
  }
}

.create-topics-notice {
  display: none;
}

.list-controls {
  background: $gds-color-white;
  padding: 3rem 3rem 0;
  .btn {
    background: $gds-color-blue-40;
    color: $gds-color-white;
  }
}

.badge-wrapper.bullet {
  .category-name {
    color: $gds-color-gray-60;
    padding-top: 10px;
    text-decoration: none;
    font-weight: normal;
  }

  span.badge-category {
    padding: none;
  }
}

.financial-peace {
  .badge-wrapper.bullet span.badge-category {
    padding: none;
  }
}

