.container {
    &.list-container {
        background: $gds-color-white;
        padding: 3rem;
    }
}

.create-topics-notice {
    display: none;
}

.list-controls {
    background: $gds-color-white;
    padding: 3rem 3rem 0;
    .btn {
        background: $gds-color-blue-40;
        color: $gds-color-white;
    }
}

.category-name {
    border: solid 1px $gds-color-gray-30;
    padding: 0.5rem;
    text-decoration: none;
}