.container {
  background-color: $gds-color-white;

  &.list-container {
    background: $gds-color-white;
    margin-bottom: 10px;
  }
}

.create-topics-notice {
  display: none;
}

.list-controls {
  background: $gds-color-white;
  .btn {
    background: $gds-color-blue-50;
    border-radius: $gds-border-radius-s;
    color: $gds-color-white;
  }
}

.container li.active a {
  border-radius: $gds-border-radius-s;
}

