td.num.views, td.num.activity{
    display: none;
}

th.views.num, th.activity.num {
    display: none;
}

.nav-pills {
    li.active a {
    background-color: $gds-color-blue-50;
    border-radius: 2px;
    }
}

.category-name {
    border: 1px solid $gds-color-gray-50;
    border-radius: 2px;
    color: $gds-color-gray-60;
    font-weight: normal;
}

.latest.single img{
    height: 40px;
    width: 40px;
}

#create-topic {
    background-color: $gds-color-blue-50;
    border-radius: 2px;
}

title.raw-link.raw-topic-link a{
    color: $gds-color-black;
    font-size: $gds-font-size-xs;
}
