
.newHere {
  margin-top: 25px;
  min-width: 290px;
  position: relative;
  border-radius: 7px;
}

.footer {
  text-align: center;
}

.footer__link {
  display: inline-block;
  padding: 1rem;
}

.homepage-footer {
  .gds-Hero-container{
    padding: 2rem;
  }
}
