.homepage-wrapper,
.homepage-footer {
  display: none;
}

.navigation-topics .homepage-wrapper,
.navigation-topics .homepage-footer {
  display: block;
}

.Hero {
  &--welcome {
    margin-top: 4rem;
    min-width: 320px;
    position: relative;

    .inner {
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
    } 
  }
}

.tech-support {
  position: absolute;
  top: 30px;
  right: 10px;
  font-weight: normal;
  text-decoration: underline;
  color: $gds-color-white;
}

.triangle-topleft {
  border-right: 150px solid transparent;
  border-top: 80px solid $gds-color-amber-50;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.triangle-bottomright {
  border-bottom: 80px solid $gds-color-amber-50;
  border-left: 150px solid transparent;
  bottom: 0;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.gds-Hero-container {
  max-width: 500px;
}

.gds-Hero-title {
  font-size: 4rem;
}

.gds-Hero-subtitle {
  font-weight: normal;
  margin: 1.5rem 0 ;
}

header .contents {
  .title {
    width: 150px;
    margin: 0 auto;
    float: none;
    @include gds-respond-to(lap-wide-and-up) {
      float: left;
      margin-left: 80px;
    }
  }

  .panel {
    position: absolute;
    top: 0;
    right: 0;
  }

}
