.homepage-wrapper,
.homepage-footer {
  display: none;
}

.navigation-topics .homepage-wrapper,
.navigation-topics .homepage-footer {
  display: block;
}

.Hero {
  &--welcome {
    margin-top: 4rem;
    min-width: 320px;
    position: relative;

    .inner {
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
    } 
  }
}

a.tech-support {
  position: absolute;
  top: 30px;
  right: 10px;
  font-weight: $gds-font-weight-normal;
  text-decoration: underline;
  color: $gds-color-white;
  &:visited {
    color: $gds-color-white;
  }
  &:hover {
    color: $gds-color-white;
  }
  &:active {
    color: $gds-color-white;
  }
}

.triangle-topleft {
  border-right: 150px solid transparent;
  border-top: 80px solid $gds-color-amber-50;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.triangle-bottomright {
  border-bottom: 80px solid $gds-color-amber-50;
  border-left: 150px solid transparent;
  bottom: 0;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.gds-Hero-container {
  max-width: 500px;
  padding: 4rem 2rem 3rem;
  @include gds-respond-to(lap-wide-and-up) {
    padding: 4rem 3rem;
  }
}

.gds-Hero-title {
  font-size: 3rem;
  @include gds-respond-to(lap-wide-and-up) {
    font-size: 4rem;
  }
}

.gds-Hero-subtitle {
  font-weight: $gds-font-weight-normal;
  margin: 1.5rem 0 ;
}

