#main-outlet {
  @include backgroundChange();
  margin-top: 82px;
  max-width: 1100px;
  padding: 50px;
}

.navigation-topics{
  #main-outlet {
    margin-top: 15px;
  }
}

.user-preferences-page {
  #main-outlet {
    border-radius: 0;
    box-shadow: none;
  }
}
