%gds-link {
  text-decoration: none;
}

.gds-Button, 
.gds-Button--alternate {
  &:visited, &:hover, &:active {
    color: $gds-color-white;
  }
}

.discourse-no-touch .btn, 
.btn {
  background-color: $gds-color-blue-50;
  border-radius: $gds-border-radius-s;
  color: $gds-color-white;

  &[href] {
    color: $gds-color-white;
  }

  &:hover, &.btn-hover {
    background-color: $gds-color-blue-10;
    color: $gds-color-blue-50;
  }

  .d-icon {
    color: $gds-color-white;
  }
}

.nav-pills>li, 
.nav-pills>li.active{
  &.navigation-toggle a.toggle-link:hover {
      background-color: $gds-color-white;
      border-radius: unset;
  }
  a {
    border-radius: $gds-border-radius-s;
    background-color: $gds-color-blue-50;
    .d-icon {
      color: $gds-color-blue-50;
    }
    &.active {
      background-color: $gds-color-blue-50;
      border-radius: $gds-border-radius-s;
      color: $gds-color-white;
      .d-icon {
        color: $gds-color-white;
      }
    }
  }
} 

.select-kit {
  &.combo-box.tag-drop .select-kit-row, 
  &.dropdown-select-box .select-kit-row .texts .name,
  &.combo-box.group-dropdown .select-kit-row {
    font-weight: $gds-font-weight-semibold;
  }
  .select-kit-header {
    .caret-icon {
      color: $gds-color-blue-50;
    }
    .selected-name {
      font-size: 1.1rem;
    }
  }
}

.list-controls {
  .combo-box .combo-box-header {
    background-color: $gds-color-white;
    border: 1px solid $gds-color-blue-50;
    color: $gds-color-black;
  }
  .caret-icon {
    color: $gds-color-blue-50;
  }
  .nav-pills .navigation-toggle {
    background-color: $gds-color-white;
    border: 1px solid $gds-color-blue-50;
    color: $gds-color-black;
    margin-bottom: 0;
  }
}
