.popular-wrapper {
  padding: 10px 10px 25px;
  @include gds-respond-to(lap-wide-and-up) {
    padding: 25px 35px 35px;
    width: 320px;
  }
}

.popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 486px;
  min-width: 280px;

  .popular-item {
    align-items: center;
    background: $gds-color-gray-10;
    border: 1px solid $gds-color-gray-20;
    border-radius: $gds-border-radius-m;
    display: flex;
    height: 115px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 115px;
    @include gds-respond-to(lap-and-up) {
      height: 120px;
      padding: 10px;
      width: 120px;
    }

    &:hover {
      border: 1px solid $gds-color-amber-40;
      svg {
        transform: scale(1.1);
      }
    }
  }

  .popular-link {
    display: block;
    width: 100%;
    .popular-description {
      color: $gds-color-black;
      line-height: 1.1rem;
      margin-top: 10px;
    }
  }
}
