@media(min-width: 1300px) {
  .financial-peace .popular-wrapper {
      flex: 1 1 40%;
  }
}
.financial-peace {
  .popular-wrapper {
    flex: 1 1 auto;
    @include gds-respond-to(lap-wide-and-up) {
      flex: 1 1 50%;
    }
  }
  .popular {
    border-radius: 7px;
    box-shadow: 1px 1px 11px $gds-color-gray-30;
    background: $gds-color-white;
    padding: 40px 30px;
    @include gds-respond-to(lap-and-up) {
      padding: 40px 10px;
    }
  }

  .popular-header {
    h2 {
      padding-bottom: 14px;
      margin-bottom: 30px;
      font-size: 2rem;
      text-align: center;
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  }

  .popular-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 486px;
    margin: 0 auto;
    .popular-item {
      border: 1px solid #E8ECED;
      background: $gds-color-gray-10;
      padding: 16px;
      margin: 4px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      height: 120px;
      width: 120px;
      text-align: center;
      //margin-bottom: 10px;
      //margin-right: 6px;
      &:hover {
        border: 1px solid $gds-color-amber-40;
        svg {
          transform: scale(1.1);
        }
      }
    }
    .popular-link {
      display: block;
      width: 100%;
      .popular-description {
        color: $gds-color-black;
        font-size: 1rem;
      }
    }
  }

  @media(min-width: 1000px) {
    .popular-header h2 {
      margin-left: 40px;
      text-align: left;
      background-position: bottom left;
    }
  }
}
