.user-profile-avatar {
  margin-top: 11px;
  margin-left: 5px;
}

.user-table .wrapper {
  box-shadow: none;
  padding: 0;
  section {
    padding: 5px;
    &.user-navigation {
      box-shadow: none;
      ul.nav-stacked {
        background: $gds-color-gray-10;
        border-radius: $gds-border-radius-m;
        padding: 20px;
        min-height: 250px;
        a {
          color: $gds-color-black;
          padding: 0;
          padding-bottom: 10px;
          font-size: 1rem;
        }
      }
    }
    &.user-right {
      box-shadow: none;
    }
  }
}

.user-stream .item, .user-stream .user-stream-item {
  padding: 15px;
}

.container.viewing-self {
  margin: 0;
}

.user-main .about {
  background: none;
  border: none;
  box-shadow: none;

  .controls {
    li {
      margin: 0;
    }
    li:first-child a {
      padding: 15px 10px !important;
      border-radius: $gds-border-radius-m;
      margin-right: 10px;
      margin-top: 10px;
    }
    li:last-child {
      display: none !important;
    }
  } 
}

.form-vertical .control-label {
  font-weight: $gds-font-weight-semibold;
}
.stats-section {
  border-bottom: 1px solid $gds-color-gray-10;
  > * {
    padding: 0 10px;
  }
}
.stats-title {
  font-size: $gds-font-size-xs;
  font-weight: $gds-font-weight-semibold;
  text-transform: capitalize;
}
.top-sub-section {
  border-bottom: 1px solid $gds-color-gray-10;
  > * {
    padding: 0 10px;
  }
  h3 {
    font-size: $gds-font-size-xs;
    text-transform: capitalize;
  }
  li {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.user-archive button {
  background: $gds-color-gray-10;
  width: 100%;
  border-radius: $gds-border-radius-s;
}

.stream-topic-details {
  .stream-topic-title a {
    color: $gds-color-black;
    font-weight: $gds-font-weight-semibold;
  }
}

.user-stream .avatar-link {
  float: left;
  margin: 0 20px 20px 0;
}

@media(min-width: 35em) {
  .top-section {
    display: flex;
    &.stats-section {
      display: block;
    }
    > * {
      float: none !important;
    }
  }
  .stats-section {
    margin-bottom: 45px;
  }
  .top-sub-section {
    margin: 0 10px 30px 10px;
  }
}

@media(min-width: 75em) {
  .top-sub-section {
    h3 {
      font-size: $gds-font-size-m;
    }
  }
  .stats-section {
    h3 {
      font-size: $gds-font-size-m;
    }
  }
  .badges-section {
    h3 {
      font-size: $gds-font-size-m;
    }
  }
}
/* end - Desktop mobile first */
