.questions {
  &-wrapper {
    background-position: bottom;
    margin: 5px auto 20px;
    max-width: 1200px;
    padding: 10px;
    @include gds-respond-to(lap-and-up) {
      padding: 10px 20px;
    }
  }

  .gds-Heading--secondary {
    color: $gds-color-white;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.gds-FeatureGroup {
  &-list{
    align-items: stretch;
    justify-content: center;
  }

  &-feature, 
  &-feature:first-child {
    background: $gds-color-white;
    border-radius: 7px;
    margin-top: 45px;
    max-width: 400px;
    padding-top: 1rem;
    width:100%;
    @include gds-respond-to(lap-wide-and-up) {
      margin-top: 25px;
    }
    .avatar {
      height: 80px;
      width: 80px;
    }
  }
}

.gds-Heading--secondary {
  font-size: 2rem;
}

.gds-Card-body {
  max-width: none;
}

.gds-Card-text {
  max-width: none;
  text-align: center;
  p {
    margin-top: 30px;
    font-size: 20px;
  }
  a {
    color: $gds-color-gray-50;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
}
