.questions-wrapper {
  background-color: $gds-color-blue-30;
  background-position: bottom;
  border-radius: 15px;
  padding: 20px;
  .gds-Heading--secondary {
    color: $gds-color-white;
    margin-bottom: 2rem;
    text-align: center;
  }
}
