.startHere-wrapper {
  flex: 1 1 auto;
  float: none;
  @include gds-respond-to(lap-wide-and-up) {
    flex: 2 2;
    justify-content: center;
    margin-right: 20px;
  }
}

.startHere-header {
  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
}

.startHere {
  td {
    padding: 34px 0;
  }
  .d-icon-thumb-tack {
    display: none;
  }
  .editor {
    display: none;
  }
  .topic-list tr {
    border-top: 1px solid $gds-color-gray-30;
    border-bottom: none;
  }
  .poster-avatar{
    float: left;
    padding: 0 20px;
    @include gds-respond-to(lap-wide-and-up) {
      float: right;
    }
  }
}

