.financial-peace {
  .startHere-wrapper {
    float: left;
    width: 100%;
  }
  @media(min-width: 1000px) {
    .startHere-wrapper {
      max-width: 600px;
    }
  }
  .startHere {
    background-color: $gds-color-white;
    border-radius: 7px;
    box-shadow: 1px 1px 11px $gds-color-gray-30;
    padding: 40px;
    margin: 20px;
  }
  .startHere-header {
    h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      padding-bottom: 15px;
    }
  }
  .startHere {
    td {
      padding: 34px 0;
    }
    .d-icon-thumb-tack {
      display: none;
    }
    .editor {
      display: none;
    }
  }
}
