.tags-page.financial-peace {
  .dropdown-toggle {
    display: none;
  }
}
.tag-show-heading {
  i, .discourse-tag {
    display: none;
  }
  a:first-child {
    padding-bottom: 8px;
  }  
}

.tag-sort-options {
  display: none;
}

.tag-box {
  float: left;
  width: auto;
  margin-right: 20px;
  a.discourse-tag.simple {
    background: $gds-color-blue-50;
    color: $gds-color-white;
    display: block;
    padding: 10px;
    border-radius: 3px;
    &:visited {
      color: $gds-color-white;
    }
    &:hover {
      color: $gds-color-white;
    }
    &:active {
      color: $gds-color-white;
    }
  }
  .tag-count {
    display: none;
  }
}

