.topic-list {
  thead {
    display: none;
  }
  .raw-topic-link {
    font-weight: $gds-font-weight-semibold;
    font-size: 1.1rem;
    a:link {
      color: $gds-color-black;
    }
    a:visited {
      color: $gds-color-gray-60;
    }
  }
  .posts-map.post {
    display: none;
  }
  .age.activity {
    display: none;
  }
  .views {
    display: none;
  }
  .posts {
    @include gds-respond-to(lap-wide-and-up) {
      width: 90px;
    }
  }
  a.posts-map.badge-posts.heatmap-::after {
    @include gds-respond-to(lap-wide-and-up) {
      content: " replies";
    }
  }
}

.topic-poster img {
  margin-top: -40px;
  background: $gds-color-white;
  padding: 10px;
  border-radius: 50px;
  border: solid 1px $gds-color-blue-50;
}
