#topic-title h1 {
  padding-bottom: 2rem;
  a {
    color: $gds-color-gray-70;
    @include gds-respond-to(lap-wide-and-up) {
      font-size: 2rem;
    }
  }
}

.container {
  @include gds-respond-to(lap-wide-and-up) {
    padding: 0.4rem 2rem 0 2rem;
  }
}

/* Here: */
.title-wrapper {
.topic-status,
.edit-topic {
  display: none
}
}

.topic-statuses {
  display: none;
}

.topic-meta-data .post-info a {
  color: $gds-color-gray-70;
  font-weight: 600;
  margin-right: 10px;
}

.category-site-feedback {
  background-color: $gds-color-white;
  margin-top: 2rem;
  padding: 15px;
}

button.reply {
  background-color: $gds-color-blue-30;
  border-radius: 2px;
  color: $gds-color-white;
}

.topic-meta-data a {
  color: $gds-color-black;
  padding-top: 2rem;
}

.names a {
  font-weight: $gds-font-weight-semibold;
  font-size: 18px;
}

.topic-post {
  background-color: $gds-color-gray-20;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  max-width: 50rem;
}

.topic-avatar {
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}
  .topics {
    border-top: 1px solid $gds-color-gray-30;
  }

  .topic-list {
    .category-name {
      padding: 0rem 0.3rem;
      font-weight: normal;

    }
  }

nav.post-controls {
  button, button.create {
    color: $gds-color-gray-70;
  }
}

.post-stream .topic-post:not(:first-child) nav.post-controls {
  display: none;
}

.container li.active a {
  border-radius: 2px;
}
.post-stream {
  > div:first-child {
    background-color: transparent;
    @include gds-respond-to(lap-wide-and-up) {
      border-top: 1px solid $gds-color-gray-30;
    }
    border-radius: unset;
  }
  > .topic-post:not(:first-child) {
    @include gds-respond-to(lap-wide-and-up) {
      margin-left: 106px;
    }
  }
  .topic-post:nth-child(2) {
    position: relative;
    &::after {
      border-bottom: 30px solid $gds-color-gray-20;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      content: '';
      display: block;
      height: 0; 
      left: 25px;
      position: absolute;
      top: -20px;
      width: 0; 
    }
  }
}

nav.post-controls {
  @include gds-respond-to(lap-wide-and-up) {
    .actions {
      margin-right: -120px;
    }
  }
  button, button.create {
    color: $gds-color-gray-70;
  }
}

.post-stream .topic-post:not(:first-child):not(:last-child) nav.post-controls {
  display: none;
}

.post-stream .topic-post:last-child nav.post-controls .actions {
  float: left;
  margin-left: -80px;
  margin-right: 0;
}
  
.container li.active a {
  border-radius: 2px;
}

.latest.single img {
  height: 40px;
  width: 40px;
}
.avatar {
  height: 40px;
  width: 40px;
}

.topic-list .num.posts-map.posts a {
  color: $gds-color-gray-50;
  font-size: 1.1rem;
  font-weight: $gds-font-weight-semibold;
}

.topic-list td {
  padding: 2rem 0;
}

.actions {
  min-width: 220px;
}

#suggested-topics .suggested-topics-title {
  padding-bottom: 33px;
  color: $gds-color-gray-70;
}

.topic-map,
.topic-footer-main-buttons,
.topic-notifications-button,
.topic-timeline,
.suggested-topics-message,
a.badge-wrapper:nth-child(2),
td.num.views, 
td.num.activity,
th.views.num,
th.activity.num {
  display: none;
}

.topic-status-info,
.topic-body {
  border: none;
}
