.financial-peace {
  .top-nav-hamburger {
    height: 30px;
    position: absolute;
    left: 16px;
    top: 24px;
    width: 30px;
    z-index: 1002;
    &:hover {
      color: $gds-color-blue-40;
      cursor: pointer;
    }
  }
  .fpu-global-nav {
    position: absolute;
    top: 60px; 
    left: 0;
    z-index: 1001;
    ul {
      box-shadow: inset 0px 1px 6px #ccc;
      margin: 0;
      padding: 70px 0;
      background: white;
      list-style-type: none;
      width: 240px;
      margin-left: -240px;
      &.open-top-nav {
        margin-left: 0;
      }
    }
    li {
      &.active {
        border-left: 6px solid $gds-color-amber-60;
        a {
          color: $gds-color-blue-40;
        }
      }
    }
    a {
      display: block;
      padding: 15px 0;
      padding-left: 40px;
      text-transform: uppercase;
      color: $gds-color-gray-40;
      &:hover {
        color: $gds-color-blue-40;
      }
    }
  }

  .d-header-wrap{
    position: fixed;
  }

  .d-header {
    height: 4rem;
    position: fixed;
    #site-logo {
      height: 1.7rem;
    }
    .title {
      margin-left: 40px;
    }
  } 

  .d-header-icons {
    #toggle-hamburger-menu {
      display: none;
    }
    .icon img.avatar {
      height: auto;
      width: 2rem;
    }
    .ring {
      right: 6px;
      top: 4px;
    }
    .unread-private-messages {
      background: $gds-color-amber-50;
    }
    .unread-notifications {
      background-color: $gds-color-blue-50;
      right: 3px;
    }
  } 
}
