#topic-title h1 {
  padding-bottom: 2rem;
  a {
    color: $gds-color-gray-70;
    @include gds-respond-to(lap-wide-and-up) {
      font-size: 2rem;
    }
  }
}

.container {
  line-height: 2rem;
  @include gds-respond-to(lap-wide-and-up) {
    padding: 0.4rem 2rem 0 2rem;
  }
}

.title-wrapper {
  .topic-status,
  .edit-topic {
    display: none
  }
}

.topic-meta-data .post-info a {
  color: $gds-color-gray-70;
  font-weight: $gds-font-weight-semibold;
  margin-right: 10px;
}

.category-site-feedback {
  background-color: $gds-color-white;
  margin-top: 2rem;
  padding: 15px;
}

button.reply {
  background-color: $gds-color-blue-30;
  border-radius: 3px;
  color: $gds-color-white;
}

.topic-meta-data a {
  color: $gds-color-black;
  padding-top: 2rem;
}

.names a {
  font-weight: $gds-font-weight-semibold;
  font-size: 18px;
}

.topic-post {
  background-color: $gds-color-gray-20;
  border: none;
  border-radius: 7px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  max-width: 50rem;
}

.topic-avatar {
  border: none;
}

nav.post-controls {
  button, button.create {
    color: $gds-color-gray-70;
  }
}

.post-stream .topic-post .nav.post-controls .actions {
  float: right;
}

.container li.active a {
  border-radius: 3px;
}
.post-stream {
  > div:first-child {
    background-color: transparent;
    @include gds-respond-to(lap-wide-and-up) {
      border-top: 1px solid $gds-color-gray-30;
    }
    border-radius: unset;
  }
  > .topic-post:not(:first-child) {
    @include gds-respond-to(lap-wide-and-up) {
      margin-left: 106px;
    }
  }
  .topic-post:nth-child(2) {
    position: relative;
    &::after {
      border-bottom: 30px solid $gds-color-gray-20;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      content: '';
      display: block;
      height: 0; 
      left: 25px;
      position: absolute;
      top: -20px;
      width: 0; 
    }
  }
}

.post-stream {
  .topic-post:first-child {
    @include gds-respond-to(lap-wide-and-up) {
      .actions:first-child {
        margin-right: -120px;
      }
    }
  }
}

nav.post-controls {
  button, button.create {
    color: $gds-color-gray-70;
  }
}

.container li.active a {
  border-radius: 3px;
}

.avatar {
  height: auto;
  width: 40px;
}

.topic-list .num.posts-map.posts a {
  color: $gds-color-gray-50;
  font-size: 1.1rem;
  font-weight: $gds-font-weight-semibold;
}

.topic-list td {
  padding: 2rem 0;
}

.actions {
  min-width: 220px;
}

#suggested-topics .suggested-topics-title {
  padding-bottom: 33px;
  color: $gds-color-gray-70;
}

.topic-map,
.topic-footer-main-buttons,
.topic-notifications-button,
.topic-timeline,
.suggested-topics-message,
a.badge-wrapper:nth-child(2),
td.num.views, 
td.num.activity,
th.views.num,
th.activity.num {
  display: none;
}

.topic-status-info,
.topic-body {
  border: none;
}

.topic-post-tags {
  a {
    color: $gds-color-gray-40;
    padding-right: 0.3rem;
    &:hover {
      color: $gds-color-blue-50;
    }
    &:active {
      color: $gds-color-blue-50;
    }
    &:visited {
      color: $gds-color-gray-40;
    } 
    &::after {
      content: ', ';
    }
  }
  :last-child {
    &::after {
      content: '';
    }
  }
}

#list-area {
  margin-bottom: 0;
  h3 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: $gds-font-weight-normal;
  }
}

.topic-list .posters>a:nth-child(1n+4) {
  display: none;
}

.d-header .title {
  margin-left: 40px;
}

.date-section {
  font-weight: $gds-font-weight-semibold;
  padding-right: 10px;
}

.top-lists h2 {
  font-size: 24px;
}
