.topic-list {
  thead {
    display: none;
  }
  .raw-topic-link {
    font-weight: $gds-font-weight-semibold;
  }
  .posts-map.post {
    display: none;
  }
  .age.activity {
    display: none;
  }
  .views {
    display: none;
  }
  .posts {
    width: 90px;
  }
  a.posts-map.badge-posts.heatmap-::after {
    content: " replies";
  }
}

.topic-poster img {
  margin-top: -40px;
  background: $gds-color-white;
  padding: 10px;
  border-radius: 50px;
  border: solid 1px $gds-color-blue-50;
}

