.category-site-feedback {
  background-color: $gds-color-white;
  margin-top: 2rem;
  padding: 15px;
}

.date-section {
  font-weight: $gds-font-weight-semibold;
  padding-right: 10px;
}

.lightbox img {
  width: 100%;
  height: auto;
}

#list-area {
  margin-bottom: 0;
  h3 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: $gds-font-weight-normal;
  }
}

.names a {
  font-weight: $gds-font-weight-semibold;
  font-size: 18px;
}

#topic-title h1 {
  padding-bottom: 2rem;
  a {
    color: $gds-color-gray-70;
  }
}

.topic-meta-data .post-info a {
  color: $gds-color-gray-70;
  font-weight: $gds-font-weight-semibold;
  margin-right: 10px;
}

.topic-avatar {
  border: none;
}

.post-stream {
  .topic-post {
    background-color: $gds-color-gray-20;
    border-radius: $gds-border-radius-m;
    margin-bottom: 1rem;
    max-width: 55rem;
    padding: 1rem;
    .nav.post-controls .actions {
      float: right;
    }
  }
  > div:first-child {
    background-color: transparent;
    @include gds-respond-to(lap-wide-and-up) {
      border-top: 1px solid $gds-color-gray-30;
      .actions:first-child {
        margin-right: -120px;
      }
    }
    border-radius: unset;
  }
  > .topic-post:not(:first-child) {
    @include gds-respond-to(lap-wide-and-up) {
      margin-left: 106px;
    }
  }
}

nav.post-controls {
  button, button.create {
    color: $gds-color-gray-70;
  }
}

.avatar {
  height: auto;
  width: 40px;
}

.user-profile-avatar .avatar,
.card-huge-avatar .avatar {
  width: auto;
}

.actions {
  min-width: 220px;
}

.suggested-topics-title {
  color: $gds-color-gray-70;
}

.post-menu-area {
   margin: 0;
}

.topic-map,
.topic-footer-main-buttons,
.topic-notifications-button,
.suggested-topics-message,
a.badge-wrapper:nth-child(2),
td.num.views, 
td.num.activity,
th.views.num,
th.activity.num {
  display: none;
}

.topic-status-info,
.topic-body {
  border: none;
}

.topic-post-tags {
  a {
    color: $gds-color-gray-40;
    padding-right: 0.3rem;
    &:hover {
      color: $gds-color-blue-50;
    }
    &:active {
      color: $gds-color-blue-50;
    }
    &:visited {
      color: $gds-color-gray-40;
    } 
    &::after {
      content: ', ';
    }
  }
  :last-child {
    &::after {
      content: '';
    }
  }
}

.timeline-container {
  .topic-timeline {
    .timeline-footer-controls,
    .timeline-scrollarea-wrapper {
        display: none;
    }    
  }
}

.title-wrapper {
  .topic-status,
  .edit-topic {
    display: none
  }
}

