.financial-peace {
  .topic-list {
    thead {
      display: none;
    }
    .category-name {
      color: $gds-color-gray-30;
      font-weight: $gds-font-weight-normal;
    }
    .raw-topic-link {
      font-weight: $gds-font-weight-bold;
    }
    .posts-map.post {
      display: none;
    }
    .age.activity {
      display: none;
    }
    .views {
      display: none;
    }
    .posts {
      width: 90px;
    }
    a.posts-map.badge-posts.heatmap-::after {
      content: " replies";
    }
  }

  .topic-poster img {
    margin-top: -40px;
    background: $gds-color-white;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px $gds-blue-50;
  }
}
