// Using desktop.scss for any scss that requires variables stored in Discourse. Primarily an image assets

.Hero--welcome {
  background: url($header_blue_background);
  background-size: cover;
}

.questions-wrapper {
  background: url($questions_background);
  background-size: cover;
}
