// Using desktop.scss for any scss that requires variables stored in Discourse. Primarily an image assets

.Hero--welcome {
  background: url($welcome_background);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 33px;
}

.questions-wrapper {
  background: url($questions_background);
  background-size: cover;
}

.startHere-header {
  h2 {
    background: url($headline_swash) no-repeat bottom left;
  }
}
.startHere {
  /* 
  TODO: 
  Right now this is displayed on all rows. 
  This needs to be only set on rows which have a response.
  */
  tr.pinned td.last-post {
    background: url($tack_triangle) no-repeat top right; 
  }
}

.popular-header {
  h2 {
    background-image: url($headline_swash);
  }
}

.tag-show-heading a:first-child {
  background: url($headline_swash) no-repeat bottom center;
}

.gds-Card-text {
  a {
    background: url($headline_swash) no-repeat bottom center;
  }
}
